<template>
  <div>
    <line-chart :chart-data="numbers"></line-chart>
  </div>
</template>

<script>
import LineChart from './LineChart';
import * as apiService from '../../services/apiService';

export default {
  name: 'charts',
  components: {
    LineChart
  },
  props: {},

  data() {
    return {
      polling: false,
      numbers: []
    };
  },

  async mounted() {
    await this.startStream();
  },

  methods: {
    async startStream() {
      this.polling = true;
      await this.getNumbers();
    },
    async stopStream() {
      this.polling = false;
      let sum = this.numbers.reduce((previous, current) => current += previous);
      let avg = sum / this.numbers.length;
      await apiService.postAverage(avg);
    },
    async getNumbers() {
      let repeatCounter = 0;

      while (this.polling) {
        try {
          const response = await apiService.getChartData();

          if (this.numbers.includes(response.data.number)) {
            repeatCounter += 1;
            if (repeatCounter === 5) {
              this.stopStream();
            }
          } else {
            this.numbers.push(response.data.number);
          }
          await this.sleep(2000);
        } catch (err) {
          console.error(err);
        }
      }

      //TODO charts
    },
    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
  },
};
</script>

<style scoped>
#line-chart {
  height: 250px;
}
</style>
