<template>

<v-flex >
            <h3 class="display-3">Crack the artifact</h3>

            <span class="subheading">Lorem ipsum dolor sit amet, pri veniam forensibus id. Vis maluisset molestiae id, ad semper lobortis cum. At impetus detraxit incorrupte usu, repudiare assueverit ex eum, ne nam essent vocent admodum.</span>

            <v-divider class="my-3"></v-divider>
            </v-flex>

</template>
