<template>
  <div ref="mapContainer" tabindex="0" @keyup="move">
    <h2>{{ secret }}</h2>
    <canvas ref="map"></canvas>
  </div>
</template>

<script>
import * as apiService from '../../services/apiService';

export default {
  name: 'map',
  components: {},
  props: {},

  data() {
    return {
      map: [],
      player: {},
      piramids: [],
      secret: ''
    };
  },

  async mounted() {
    await this.loadMap();
    this.drawMap();
  },

  computed: {},
  watch: {},

  methods: {
    async loadMap() {
      const response = await apiService.getMap();
      this.map = response.data.tiles;
      this.player = this.map.filter(tile => tile.type === 2)[0];
      this.piramids = this.map.filter(tile => tile.type === 3);
    },
    async move(event) {
      const DIST = 5;

      switch (event.key) {
        case 'ArrowUp':
          this.player.y -= DIST;
          break;
        case 'ArrowRight':
          this.player.x += DIST;
          break;
        case 'ArrowDown':
          this.player.y += DIST;
          break;
        case 'ArrowLeft':
          this.player.x -= DIST;
          break;
      }

      await apiService.move(this.player.x, this.player.y);
      await this.loadMap();

      let door = null;
      if (this.piramids.length === 3 && !door) {
        const reveal = await apiService.revealPiramids(this.piramids);
        door = reveal.data;
      }

      if (door) {
        const secret = await apiService.openDoor(door.x, door.y);
        this.secret = secret.data.secret;
      }

      this.drawMap();
    },
    drawMap() {
      const SCALE = 1.8 * 10;
      const SIZE = 25;

      const canvas = this.$refs.map;
      const ctx = canvas.getContext('2d');
      const mapSize = this.getSize();

      // canvas size
      canvas.width = mapSize.maxWidth * 1.8 * 10;
      canvas.height = mapSize.maxHeight * 1.8 * 10;

      // background
      ctx.fillStyle = '#696969';
      ctx.fillRect(0, 0, canvas.width, canvas.height);

      // player
      ctx.fillStyle = '#f00';
      ctx.fillRect(this.player.x * SCALE, this.player.y * SCALE, SIZE, SIZE);

      // piramids
      ctx.fillStyle = '#ffff00';
      this.piramids.forEach((piramid) => {
        ctx.fillRect(piramid.x * SCALE, piramid.y * SCALE, SIZE, SIZE);
      });

      // door
      ctx.fillStyle = '#00f';
      ctx.fillRect(this.door * SCALE, this.player.y * SCALE, SIZE, SIZE);

      ctx.fill();
    },
    getSize() {
      const maxWidth = Math.max(...this.map.map(tile => tile.x));
      const maxHeight = Math.max(...this.map.map(tile => tile.y));

      return {
        maxWidth,
        maxHeight,
      };
    },
  },
};
</script>

<style scoped>
#map {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

h2 {
  color: green;
}
</style>
