<template>
        <div id="key">
           <!--<v-btn large>{{val}}</v-btn>-->
          <v-btn class="button" large @click="sendValue(val)">{{val}}</v-btn>

        </div>
</template>

<script>
export default {

  props: [
    'id',
    'val',
  ],
  methods: {
    sendValue(val) {
      this.$parent.$emit('sendValue', val);
    },
  },
};
</script>

<style>

</style>
