<template>
  <v-container>
    <p>{{ message }}</p>
    <v-flex xs6 offset-xs3>
      <div class="input">
        <v-text-field label="Outline" outline v-model="input" readonly></v-text-field>
      </div>
    </v-flex>
    <v-flex xs5 offset-xs4>
      <v-layout id="key-container" row wrap align-center>
        <app-key v-for="index in 9" :key="index" :val="index"></app-key>
        <v-btn class="button" large @click="sednClearAll()">C</v-btn>
        <app-key :val="0"></app-key>
        <v-btn class="button" large @click="sendBackspace()">&lt;</v-btn>
      </v-layout>
      <v-btn class="button" large @click="enter()">Confirm</v-btn>
      <hr>
      <br>
    </v-flex>

    <!-- <v-flex md12>
          <v-btn small >Clear</v-btn>
          <v-btn large >Clear</v-btn>

      </v-flex>
    -->
  </v-container>
</template>

<script>
import * as apiService from '../../services/apiService';
import Key from './Key.vue';

export default {
  data() {
    return {
      input: '',
      message: '',
    };
  },

  components: {
    'app-key': Key,
  },

  created() {
    this.$on('sendValue', (val) => {
      this.append(val);
    });
  },

  methods: {
    append(val) {
      console.log(val);

      this.input += val.toString();
    },
    async enter() {
      try {
        const inputMessage = this.input.split('').toString();
        const result = await apiService.enterPasscode(inputMessage);
        this.message = 'Code success';
      } catch (err) {
        console.error(err);
        // TODO: errormessage
        this.message = 'Code failed';
      }

      this.sednClearAll();
    },

    listen() {
      this.$store.commit('iets', this.id);
    },

    sednClearAll() {
      this.input = '';
    },

    sendBackspace() {
      this.input = this.input.substring(0, this.input.length - 1);
    },
  },
};
</script>

<style>
#key-container {
  max-width: 350px;
}
</style>
