<template>
 <v-app id="app" dark>

    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 0" step="0">START</v-stepper-step>
        <v-divider></v-divider>


        <v-stepper-step :complete="e1 > 1" step="1">step 1: Keypad</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2">step 2: Decode</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 3" step="3">step 3: Maps</v-stepper-step>
        <v-divider></v-divider>

        <v-stepper-step step="4">step 4: Charts</v-stepper-step>

      </v-stepper-header>

      <v-stepper-items>
        <vue-particles color="#dedede" ></vue-particles>

        <v-stepper-content step="0" style="height: 700px;">

            <v-flex >
            <h3 class="display-3">Crack the artifact</h3>

            <span class="subheading">Lorem ipsum dolor sit amet, pri veniam forensibus id. Vis maluisset molestiae id, ad semper lobortis cum. At impetus detraxit incorrupte usu, repudiare assueverit ex eum, ne nam essent vocent admodum.</span>

            <v-divider class="my-3"></v-divider>
            </v-flex>

          <router-view to="/start" />

          <v-btn color="primary" @click="nextStep()">
            Start
          </v-btn>

          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>

        <v-stepper-content step="1">
          <v-card
            class="mb-5"
            height="500px"
           color="rgb(66, 86, 92, 0.2)"
          >


          <router-view to="/keypad" />


          </v-card>

          <v-btn
            color="primary"
            @click="nextStep()"
          >
            Continue
          </v-btn>

          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-card
            class="mb-5"
           color="rgb(66, 86, 92, 0.2)"
            height="500px"
          >
          <router-view to="/decode" />

          </v-card>

          <v-btn
            color="primary"
            @click="nextStep()"
          >
            Continue
          </v-btn>

          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-card
            class="mb-5"
           color="rgb(66, 86, 92, 0.2)"
            height="791px"
          >
          <router-view to="/decode" />

          </v-card>

          <v-btn
            color="primary"
            @click="nextStep()"
          >
            Continue
          </v-btn>

          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>

        <v-stepper-content step="4">
          <v-card
            class="mb-5"
            color="grey lighten-1"
            height="500px"
          >

          <router-view to="/chart" />

          </v-card>

          <v-btn
            color="primary"
            @click="nextStep()"
          >
            Continue
          </v-btn>

          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      e1: 0
    };
  },

 methods: {
   nextStep(){
     this.e1++;
     if(this.e1 == 0){
       this.$router.push({ path: '/start' })


     }else if(this.e1 == 1){

       this.$router.push({ path: '/keypad' })


     }else if(this.e1 == 2){
       this.$router.push({ path: '/decode' })
     }else if(this.e1 == 3){
       this.$router.push({ path: '/map' })
     } else if(this.e1 == 4){
       this.$router.push({ path: '/chart' })
     }
   }
 }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#particles-js{
  position:  absolute;

}



</style>
