<template>
  <div>
    <h3>{{ sentence }}</h3>
    <h1>{{ message }}</h1>
  </div>
</template>

<script>
import * as apiService from '../../services/apiService.js';

export default {
  name: 'decode',
  components: {},
  props: {},

  data() {
    return {
      message: '',
      polling: false,
      stream: [],
      indexes: [],
    };
  },

  async mounted() {
    await this.startStream();
  },

  computed: {
    sentence() {
      const words = this.stream.map(s => s.word);

      return words.join(' ');
    },
  },

  methods: {
    async startStream() {
      this.polling = true;
      await this.getStream();
    },
    stopStream() {
      this.polling = false;
    },
    async getStream() {
      while (this.polling) {
        try {
          const response = await apiService.getStreamInsights();
          const stream = response.data;

          if (this.indexes.includes(stream.index)) {
            this.stopStream();
            this.decode();
          } else {
            this.stream.push(stream);
            this.indexes.push(stream.index);
          }
        } catch (err) {
          console.error(err);
        }
        await this.sleep(1000);
      }
    },
    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    async decode() {
      this.stream.sort(this.compare);

      try {
        const result = await apiService.submitDecodedMessage(this.sentence);
        if (result.status === 200) {
          this.message = 'Artifact unlocked!';
        }
      } catch (err) {
        this.message = 'Wrong passphrase!';
        console.error(err);
      }
    },
    compare(a, b) {
      if (a.index < b.index) {
        return -1;
      }
      return 1;
    },
  },
};
</script>

<style scoped>
</style>
